* {
    font-family: Arial;
color: gray    ;
    background-color: green;
}
h1, h2, h3 {
    color: blue;
    background-color: red;
}
.lorem20 {
    color: aqua;
    background-color: blue;
}
p.lorem100 {
    color: red;
    background-color: grey;
}
#introduction {
    color: black;
    background-color: aqua;
}
li > h3 {
    color: red;
    background-color: #303030;
}
p a {
    color: brown;
    background-color: orange;
}
h1 + p {
    color: gray;
    background-color: crimson;
}
h1 ~ p {
    color: green;
    background-color: darkcyan;
}